.card-element-container {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .pay-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .CardElement {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
  }
  
  .card-element-container .CardElement {
    width: 100%;
  }
  
  .checkout-form h2 {
    text-align: center;
    background-color: lightgray;
    font-size: 30px;
    font-family: "Ember", Arial, sans-serif;
  }
  
  .delivery-address-label {
    color: #c45500;
    font-size: 18px;
    text-align: left;
  }
  
  .pay-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 26px;
    cursor: pointer;
    padding: 10px 50px;
  }
  
  .pay-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
  
  .payment-received-message {
    background-color: grey;
    text-align-last: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
  }
  
  .checkout-form .delivery-address-label {
    margin-top: 20px;
  }
  
  .checkout-form .delivery-address-label input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 22px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .checkout-container {
    display: flex;
    flex-direction: column;
  }
  
  .checkout-form {
    margin-bottom: 20px;
  }
  .payment-received-message{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .delivery-address-section,
  .payment-method-container {
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .pay-btn {
    margin-top: 20px;
  }
  
  .error-message {
    color: red;
  }
  
  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: rgb(192, 192, 192);
  }
  
  @media (max-width: 768px) {
    .card-element-container {
      margin-bottom: 50px;
    }
    .pay-button {
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      padding: 10px 50px;
    }
    .footer {
      grid-template-columns: repeat(4, 1fr);
      width: 285%;
      margin-top: 150px;
    }
     .checkout-form h2{
       width: 285%;
    }
    .pay-btn{
        margin-left: 600px;
    }
    .payment-received-message{
        width: 285%;
        margin-top: 30px;
    }
  }
  