.right {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    text-align: left;
  }
  
  .nike {
    margin-top: 50px;
    margin-left: 290px;
  }
  
  .head {
    margin-top: 10px;
    margin-left: 600px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 350px;
  }
  .s1 {
    text-decoration: underline;
  }
  .details{
    margin-left: 500px;
  }
  .price {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-right:250px;
} 
  
  .discount {
    font-size: 25px;
    margin-bottom: 3px;
    background-color: orange;
    padding: 2px 8px;
    width: 20%;
    display: inline-block;
    margin-left: 160px;
  }
  
 
  
  .original-price {
    font-size: 22px;
    text-decoration: line-through;
    margin-top:20px;
   margin-left: 160px;
   margin-bottom: 20px;
  }
  
  .dropdown {
    margin-top: 10px;
    margin-left: 360px;
    font-size: 25px;
    margin-top: 20px;
  }
  
  .dropdown select {
    font-size: 16px;
  }
  
 
  .sizechart {
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-size: 15px;
    margin-left: 340px;
    margin-top: 40px;
  }
  .available-option{
    margin-top: 30px;
    margin-left: 440px;
    font-size: 25px;
  }
  .available-options-container{
    margin-left: 350px;
  }
  .option-box{
    background-color: black;
    padding: 2px 8px;
    color: white;
    border-radius: 5px;
    margin-left: 1px;
  }
  .option-box1{
    position: absolute;
    margin-left: 100px;
    margin-top: -58px;
    padding: 2px 8px;
    background-color:grey;
    border-radius: 5px;
  }
  
  .button1 button {
    background-color: orange;
    border: orange;
    color: white;
    font-size: 16px;
    margin-left: 480px;
    margin-top: 40px;
    padding: 10px 20px;
  }
  
  .button2 button {
    background-color: black;
    color: white;
    font-size: 16px;
    margin-top:20px;
    margin-left:489px;
    padding: 10px 24px; 
  }
  
  

  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .right {
      position: relative;
      left: auto;
      right: auto;
      top: auto;
      margin: 0 auto;
      width: 100%;
    }
  
    .nike {
      margin-left: 745px;
      margin-top: -10px;
    }
  
    .head {
        margin-top: -10px;
        font-size: 15px;
      width: 50%;
      margin-left: 850px;
    }
   .details{
    margin-left: 1060px;
   }
    .price {
      margin-right: 400px;
      font-size: 15px;
    }
    .original-price{
        margin-right: 100px;
        margin-top: 5px;
    }
   .discount{
    margin-left: 65px;
    width: 10%;
    margin-top: -10px;
    font-size: 20px;
    padding: 1px;
   }
    .dropdown,
    .dropdown1 {
      margin-top: 5px;
      font-size: 14px;
    }
    .dropdown{
        margin-left: 723px;
    }
    .dropdown1{
        margin-left: 165px;
    }
  .sizechart {
    font-size: 10px;
    margin-left: 710px;
    margin-top: 4px;
  }
  .available-option{
    margin-top: 20px;
    margin-left: 730px;
    font-size: 14px;
  }
  .available-options-container{
    margin-left: 730px;
  }
  .option-box{
    height: 60px;
    font-size: 12px;
    margin-top:5px;
    padding: 1px 19px;
  }
  .option-box1{
    position: absolute;
    margin-left: 80px;
    height: 60px;
    margin-top: -63px;
    padding: 1px 3px;
    font-size: 12px;
    width: 14%;
  }
  .button1 button {
    font-size: 14px;
    margin-left: 720px;
    margin-top: 15px;
    padding: 2px 4px;
    width: 15%;
  }
  
  .button2 button {
    font-size: 14px;
    margin-top:10px;
    margin-left:720px;
    width: 15%;
    padding: 4px 10px; 
  }
}
  
  