.new-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .deal-box {
    position: absolute;
    margin-left: 1000px;
    margin-top: 800px;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .deal-title {
    margin-left: -40px;
    font-weight: 200;
    font-size: 20px;
    background-color: #CC0C39;
    padding: 15px 20px;
    width: 70%;
    font-family: "Amazon Ember", Arial, sans-serif;
  }
  
  .dis {
    color: #CC0C39;
    font-weight: 300;
    margin-top: 30px;
    margin-left: -200px;
    font-size: 40px;
    font-family: "Amazon Ember", Arial, sans-serif;
  }
  
  .price {
    color: #0F1111;
    margin-left: 250px;
  }
  
  .product-detail-heading {
    margin-left: 20px;
  }
  
  .product-detail-content {
    margin-left: 20px;
    text-align: left;
  }
  
  .sandle {
    margin: 0 auto 20px;
  }
  
  .buttonk {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-left: -10px;
  }
  
  .buttonp {
    background-color: orange;
    border: orange;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .buttonl {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px 28px;
  }
  
  .color-options {
    margin-top: 20px;
  }
  
  .size1 {
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .product {
    margin-left: -900px;
    margin-top: -50px;
  }
  
  .product-detail {
    text-align: left;
  }
  
  .product-detail-heading {
    font-weight: bold;
  }
  
  .product-detail-content {
    margin: 10;
  }
  
  .tag {
    margin-left: -200px;
    margin-top: -100px;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  @media screen and (max-width: 726px) {
    .sandle {
      margin: 0 auto 10px;
    }
    .buttonk {
      margin-left: 160px;
    }
    .size1 {
      margin-left: 150px;
      margin-top: 10px;
    }
    .product {
      margin-left: -100px;
      margin-top: -50px;
    }
    .color-options {
      margin-left: 130px;
    }
    .tag {
      margin-left: 390px;
      width: 100%;
    }
    .deal-box {
    margin-left: 600px;
    width: 50%;
    margin-top: 890px;
  }
  .dis{
    margin-left: 10px;
    font-size: 28px;
  }
  .deal-title{
    margin-left: 10px;
    font-size: 18px;
  }
  .price{
    font-size: 25px;
    margin-left: 55px;
  }
  
  .color-options{
    margin-left: 350px;
    margin-right: -150px;
  }
  .size1{
    margin-left: 350px;
    margin-right: -183px;
  }
  .buttonk {
    margin-left: 500px;
    width: 40%;
  }
  }  